@page "/moviesearch"
@using System.Text.Json
@using MovieSearchApp.Models
@inject NavigationManager NavigationManager

<h3>Movie Search</h3>
<h1>Test</h1>

L<button>Get movie</button>

@if(movie != null)
{
    <h2>Title: @movie.Title</h2>
}


@code{
    public Movie movie;

    public HttpClient httpClient = new HttpClient();

    public async Task FetchData()
    {
        movie = await httpClient.GetFromJsonAsync<Movie>("http://www.omdbapi.com/?i=tt3896198&apikey=1d724562");
    }

}